<h2>Sign in</h2>

<%= form_for @user, :url => url_for(:controller => 'sessions', :action => 'create') do |f| %>
    <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </div>

    <div class="field">
        <label>Password</label><br>
        <%= f.password_field :password %>
    </div>

    <div class="actions">
        <%= f.submit 'Sign In' %>
    </div>
<% end %>